/* Place CSS styles here */
html {
  scroll-behavior: smooth;
}

body {
  color: purple;
  /* distribute font to entire site */
  font-family: 'Merriweather', serif;
  background-color: #ddd;
}

img {
  width: 100%;
  height: auto;
}

/* distribute font to all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 5px 4px 7px #00c200;
}

h1 {
  font-size: 74px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 64px;
  }
}