/* Place CSS styles here */
html {
  scroll-behavior: smooth;
}

body {
  color: purple;
  /* distribute font to entire site */
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: var(--white);
}

:root{
  --grey:#ddd;
  --white: #F5F5F5;
}
img {
  width: 100%;
  height: auto;
}

/* distribute font to all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Karla', sans-serif;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 5px 4px 7px #00c200;
}

h1 {
  font-size: 74px;
}

.header {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 100px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}


@media (max-width: 599px) {
  .main-nav {
    display: none;
  }
  .header{
    flex-direction:row;
  }
}

.icon{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 139px;
  margin-top: -281px;
  width: 44px;
  height: 33px;
  cursor: pointer;
}
.icon span {
  position: absolute;
  left: 0;
  width: 44px;
  height: 3px;
  background-color: black;
}
.icon span:nth-child(1) {
  top: 0;
}
.icon span:nth-child(2) {
  top: 50%;
}
.icon span:nth-child(3) {
  top: 100%;
}

.mobile-main-nav {
  display: none;
  flex-direction: column;
  background-color: var(--white);
  padding-bottom: 38px;
  align-items: center;
  align-content: center;
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  top: 178px;
  left: 0;
  right: 0;
}

.mobile-main-nav a{
  padding: 8px;
  text-align:center;
}

.mobile-main-nav a::before{
  content: "";
  padding-top: 20px;
  display: block;
  padding-left: 12rem;
  border-top: 1px solid black;
}

.mobile-main-nav a::after{
  content: "";
  margin-bottom: -18px;
  display: block;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

@media (min-width: 600px) {
  .mobile-nav-wrapper {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 64px;
  }
}